
</div>

<!--{if !empty($jsmenu) && (empty($bbclosed) || $adminid == 1)}-->{template jsmenu}<!--{/if}-->

<div id="ad_footerbanner1"></div><div id="ad_footerbanner2"></div><div id="ad_footerbanner3"></div>


  <div class="wrap" style="background:#ccc; margin-top:4px; padding:5px 0px; text-align:center"><a href="http://www.jiaju001.com/page/about.html">关于我们</a>| <a href="http://www.jiaju001.com/page/zhaopin.html">家居招聘</a>  | <a href="http://www.jiaju001.com/page/biz.html">厂商合作</a> | <a href="http://www.jiaju001.com/page/links.html">友情连接</a> | <a href="http://www.jiaju001.com/page/us.html">联系我们</a> | <a href="http://www.jiaju001.com/page/sitemap.html">网站地图</a></div>
<div class="wrap" style="text-align:center">Copyright  2008 jiaju001.com All rights reserved.  客服电话 <span class="ex">400-650-3056</span> <br />地址:北京市东城区东总布胡同5号住宅建筑设计研究院二层<br />版权所有 {sitename}  备案:京ICP备07032089号</div></div>

<!--{if $_DCACHE['settings']['frameon'] && in_array(CURSCRIPT, array('index', 'forumdisplay', 'viewthread')) && $_DCOOKIE['frameon'] == 'yes'}-->
	<script type="text/javascript" src="include/javascript/iframe.js"></script>
<!--{/if}-->
{eval output();}
<script>document.write(unescape("%3Cscript src='http://www.google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">var pageTracker = _gat._getTracker("UA-2629885-1");pageTracker._setDomainName("jiaju001.com");pageTracker._initData();pageTracker._trackPageview();</script>
</body>
</html>